{% extends "base/html.html" %}
{% block content %}

<div data-role="content" id="file">
	
	<h1><span class="commonName"></span></h1>
	<h2><span class="scientificName"></span></h2>

	<div class="specimentImageContent">
		<img src="" alt="Speciment image">
	</div>
	<p class="identification"></p>
	<div class="trackImageContent">
		<img src="" alt="Track image">
		<p>Huella</p>
	</div>
	<p>Reino: <span class="kingdom"></span></p>
	<p>Clase: <span class="group"></span></p>
	<p>Familia: <span class="family"></span></p>
	<p>Especie: <span class="species"></span></p>

	<!--div class="tags">
		<ul>
			<li></li>
		</ul>
	</div-->

</div><!-- /content -->

{% endblock %}