{% extends "base/html.html" %}
{% block content %}

<div data-role="content" id="home">
	<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloremque corporis natus tempora atque ipsa sapiente quo alias ex dolorem suscipit, impedit ea inventore iste blanditiis, deleniti minus ab modi!</p>
    <button class="btn-whereami">Where am I?</button>
    <img src=""/>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo accusantium quia et, reprehenderit soluta, voluptate sed esse autem adipisci, eligendi, dolore reiciendis quos nemo dignissimos dolor ducimus repudiandae blanditiis doloremque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo accusantium quia et, reprehenderit soluta, voluptate sed esse autem adipisci, eligendi, dolore reiciendis quos nemo dignissimos dolor ducimus repudiandae blanditiis doloremque.</p>
    <button class="btn-see-all">See all</button>
</div><!-- /content -->

{% endblock %}
