{% extends "base/html.html" %}
{% load staticfiles %}

{% block content %}

<div data-role="content" id="listview">

	<h1 class="title"></h1>

    <ul data-role="listview" data-inset="true" id="content-list" class="specimenes-viewlist">
    	
    </ul>

    <div class="pagination">
    	<button class="btn-custom small prev">Anterior</button>
    	<div>Página <span class="currentPage">N</span></div>
    	<button class="btn-custom small next">Siguiente</button>
    </div>

</div><!-- /content -->

{% endblock %}
