{% extends "base/html.html" %}
{% load staticfiles %}

{% block object %}
<script src="{% static 'js/listview.js' %}"></script>
{% endblock %}

{% block content %}

<div data-role="content" id="listview">

    <ul data-role="listview" data-inset="true">

        <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/animal_fallback.jpg' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/leaf_fallback.png' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/track_fallback.jpg' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/animal_fallback.jpg' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/leaf_fallback.png' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/track_fallback.jpg' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/animal_fallback.jpg' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/leaf_fallback.png' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
        	<div class="ui-btn-inner ui-li" aria-hidden="true">
        		<div class="ui-btn-text">
        			<a href="#" class="ui-link-inherit">
						<img src="{% static 'images/track_fallback.jpg' %}" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			</div>
		</li>

    </ul>

</div><!-- /content -->

{% endblock %}