{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %} WildDex {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'js/libs/jquerymobile/jquery.mobile.custom.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/libs/jquerymobile/jquery.mobile.custom.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <script src="{% static 'js/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/jquery/jquery.rest.js' %}"></script>
    <script src="{% static 'js/libs/jquerymobile/jquery.mobile.custom.min.js' %}"></script>
    <script src="{% static 'js/libs/base.js' %}"></script>
    <script src="{% static 'js/libs/classes.js' %}"></script>

    {% block object %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/listview.js' %}"></script>
    <script src="{% static 'js/ficha.js' %}"></script>
    {% endblock %}

    {% block generalscripts %}
    <script src="{% static 'js/general.js' %}"></script>
    {% endblock %}

</head>
<body>

	<div data-role="page">

		{% block panelmenu %}

		<div id="panelmenu" data-role="panel" data-id="panelmenu1" data-position="right" data-position-fixed="true" data-display="overlay" class="panelmenu">
			<ul data-role="listview" data-inset="true">
				<li class="kingdom-menu"><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="">Animales</a></li>
                <li><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="Mamíferos">Mamíferos</a></li>
                <li><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="Aves">Aves</a></li>
                <li><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="Reptiles">Reptiles</a></li>
                <li><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="Anfibios">Anfibios</a></li>
                <li><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="Peces continentales">Peces</a></li>
                <li><a href="#menu" class="panelmenu-link" data-kingdom="Animalia" data-group="Invertebrados">Invertebrados</a></li>
                <li class="kingdom-menu"><a href="#menu" class="panelmenu-link" data-kingdom="Plantae" data-group="">Plantas</a></li>
			</ul>
		</div>

		{% endblock %}

		{% block panelsearch %}

		<div id="panelsearch" data-role="panel" data-id="panelsearch1" data-position="right" data-position-fixed="true" data-display="overlay" class="panelsearch">
			<ul data-role="listview" data-inset="true" data-filter="true">
				<li><a href="#search" class="panelsearch-link">Mamíferos</a></li>
				<li><a href="#search" class="panelsearch-link">Huellas</a></li>
				<li><a href="#search" class="panelsearch-link">Invertebrados</a></li>
			</ul>
		</div>

		{% endblock %}

		{% block header %}

		<div data-role="header" data-id="header1" data-position-fixed="true" class="ui-btn-active ui-state-persist">
			<a href="/" title="Home" class="logo"></a>
			<a href="#panelmenu" class="toolbar-btn btn-panelmenu ui-btn ui-corner-all ui-icon-bars ui-nodisc-icon ui-btn-right">Menu</a>
			<a href="#panelsearch" class="toolbar-btn btn-panelsearch ui-btn ui-corner-all ui-icon-search ui-nodisc-icon ui-btn-right">Search</a>
		</div><!-- /header -->

		{% endblock %}

		{% block content %}{% endblock %}

	</div>
	<!-- /page -->

</body>
</html>
